@using SharpCMS.UI.Mvc.Controllers
@model PhotoGalleryListModel
           
@{
    Layout = null;
}

@if (Model.Photos.Any())
{
    <ul style="display: block; margin: 30px 0 0; overflow: hidden;">
        @foreach (ImageView photo in Model.Photos)
        {
            <li style="display: inline; float: left; height: 84px; margin: 0 0 35px 7px; overflow: hidden; padding: 7px 7px 0 0; position: relative; width: 106px;">
                <span class="picture-frame">
                    <span style="display: block; height: 75px; left: 3px; overflow: hidden; position: absolute; top: 2px; width: 100px;">
                        <img height="100" width="100" alt="" src="@Url.Content(photo.Url)"/>
                    </span>
                    <span class="overlay"></span>
                </span>
                @if (User.IsInRole("Administrators"))
                {
                    <a class="delete-button" href="#" title="Удалить">Удалить</a>
                }
            </li>
        }
    </ul>
}